[% INCLUDE header.tt %]
[% META title = 'Property search' %]

<h1>REA::WWW</h1>
<form action="/search" method="GET">
  <p>Enter a postcode, suburb, or property ID:
  <input type="text" size="24" name="q" /><br/>
  <input type="submit" value="Go"/>
  </p>
</form>

[% INCLUDE footer.tt %]
